@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --green: #00993f;
  --orange: #ffb34f;
  --grey: #bec3ce;
  --blue: #3f84d2;
  --lightblue: #0084d2;
  --red: #f05e5e;
  --black: #000000;
}
